<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.aware.plugin.upmc.dash">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.BODY_SENSORS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <permission
            android:name="com.aware.READ_CONTEXT_DATA"
            android:description="@string/read_permission"
            android:icon="@drawable/ic_launcher_settings"
            android:label="Read AWARE&apos;s Context data"
            android:protectionLevel="signature"/>
    <permission
            android:name="com.aware.WRITE_CONTEXT_DATA"
            android:description="@string/write_permission"
            android:icon="@drawable/ic_launcher_settings"
            android:label="Write to AWARE&apos;s Context data"
            android:protectionLevel="signature"/>

    <application
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            tools:replace="android:icon">
        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version"/>

        <activity
                android:name=".settings.Settings"
                android:exported="true"
                android:label="UPMC Settings"/>

        <service
                android:name=".services.FitbitMessageService"
                android:exported="false"/>
        <service
                android:name=".activities.Plugin"
                android:exported="true"
                android:label="AWARE: UPMC Cancer"/>
        <service
                android:name="com.aware.Applications"
                android:enabled="true"
                android:exported="true"
                android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
                tools:replace="android:enabled">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>

                <category android:name="android.accessibilityservice.category.FEEDBACK_GENERIC"/>
            </intent-filter>

            <meta-data
                    android:name="android.accessibilityservice"
                    android:resource="@xml/aware_accessibility_config"/>
        </service>

        <receiver
                android:name=".receivers.BootReceiver"
                android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>

        <provider
                android:name=".activities.Provider"
                android:authorities="${applicationId}.provider.survey"
                android:exported="true"
                android:label="@string/plugin_upmc_dash"
                android:readPermission="com.aware.READ_CONTEXT_DATA"
                android:syncable="true"
                android:writePermission="com.aware.WRITE_CONTEXT_DATA"/>

        <!--<receiver android:name=".activities.Plugin$SurveyListener">-->
        <!--<intent-filter>-->
        <!--<action android:name="ACTION_CANCER_SURVEY" />-->
        <!--<action android:name="ACTION_CANCER_EMOTION" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->
        <receiver android:name=".activities.Plugin$SyncReceiver">
            <intent-filter>
                <action android:name="ACTION_AWARE_SYNC_DATA"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.ShutdownReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_SHUTDOWN"/>
                <action android:name="android.intent.action.QUICKBOOT_POWEROFF"/>
            </intent-filter>
        </receiver>

        <service
                android:name="com.aware.plugin.upmc.dash.syncadapters.UPMC_Sync"
                android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>

            <meta-data
                    android:name="android.content.SyncAdapter"
                    android:resource="@xml/sync_upmc"/>
        </service>

        <activity
                android:name=".activities.NotificationResponseActivity"
                android:label="@string/title_activity_notification_response"
                android:theme="@style/Theme.AppCompat.Dialog.Alert"/>
        <activity
                android:name=".activities.OnboardingActivity"
                android:label="UPMC Dash"
                android:theme="@style/AppTheme.NoActionBar">


            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>


        </activity>

        <meta-data
                android:name="io.fabric.ApiKey"
                android:value="edf1b350fc8819daef11e8ab26f363e0badab054"/>

        <activity
                android:name=".activities.MainActivity"
                android:label="@string/title_activity_main"
                android:exported="true"
                android:launchMode="singleTop"
                android:theme="@style/AppTheme"
        >


            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>


        </activity>
    </application>

</manifest>