<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aware.plugin.google.fused_location">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:theme="@style/Theme.Aware"
        android:label="@string/app_name"
        >

        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

        <service android:exported="true" android:name="com.aware.plugin.google.fused_location.Plugin" android:label="@string/app_name"/>
        <service android:name="com.aware.plugin.google.fused_location.Algorithm" android:exported="true" android:label="@string/app_name"/>
        <activity android:label="@string/app_name" android:name="com.aware.plugin.google.fused_location.Settings" android:exported="true" android:theme="@style/Theme.Aware" />
        <activity android:name=".DialogLocation" android:exported="true" />

    </application>

</manifest>
