<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aware.plugin.upmc.cancer" xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Aware"
        tools:replace="android:icon">

        <meta-data android:name="com.google.android.gms.version" tools:node="remove" />

        <activity
            android:name="com.aware.plugin.upmc.cancer.UPMC"
            android:theme="@style/Theme.Aware"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.aware.plugin.upmc.cancer.Settings" android:exported="true" android:launchMode="singleTop" android:theme="@style/Theme.Aware" />
        <service android:name="com.aware.plugin.upmc.cancer.Plugin" android:exported="true" />
        <service android:name="com.aware.plugin.upmc.cancer.Survey" />

        <provider
            android:authorities="${applicationId}.provider"
            android:name="com.aware.plugin.upmc.cancer.Provider"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA"
        />

    </application>

</manifest>
