<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aware.plugin.upmc.cancer" xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name="com.aware.plugin.upmc.cancer.UPMC"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name="com.aware.plugin.upmc.cancer.Plugin" android:exported="true">
            <intent-filter>
                <action android:name="ACTION_JOIN_STUDY" />
            </intent-filter>
        </service>
        <provider
            android:authorities="${applicationId}.provider"
            android:name="com.aware.plugin.upmc.cancer.Provider" android:exported="true" android:readPermission="com.aware.READ_CONTEXT_DATA" android:writePermission="com.aware.WRITE_CONTEXT_DATA"/>
        <receiver android:name="com.aware.plugin.upmc.cancer.Plugin$Survey">
            <intent-filter>
                <action android:name="ACTION_UPMC_SURVEY" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.aware.Applications"
            android:exported="true"
            android:enabled="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            tools:replace="android:enabled" >
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data android:name="android.accessibilityservice" android:resource="@xml/aware_accessibility_config" />
        </service>
        <service
            android:name="com.aware.Applications$BackgroundService"
            android:exported="true" >
        </service>

    </application>

</manifest>
